@model SaraiManagement.Models.Usuario

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .botao {
        margin: 0 5px;
    }

    .fonte {
        font-size: 20px;
    }

    .centraliza {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>

<h1 style="text-align: center">Tem certeza que deseja excluir?</h1>

<hr />
<div class="container-fluid d-flex flex-wrap" style="display: flex; justify-content: center; align-items: center;">

    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Nome)*@
            <label class="fonte">Nome: </label>
        </dt>
        <dd class = "col-sm-10 fonte">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Senha)*@
            <label class="fonte">Senha: </label>
        </dt>
        <dd class = "col-sm-10 fonte">
            @Html.DisplayFor(model => model.Senha)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Tipo)*@
            <label class="fonte">Tipo: </label>
        </dt>
        <dd class = "col-sm-10 fonte">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
    </dl>
</div>
<hr />
<div class="centraliza">
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioID" />
        <input type="submit" value="Excluir" class="btn btn-danger" />
        <a asp-action="List" asp-route-id="@Model.UsuarioID" class="btn btn-success" role="button" aria-pressed="true">Voltar</a>
    </form>
</div>
