@{
    ViewData["Title"] = "Tela Inicial";
}

<div class="text-center">
    <h1 class="display-4">Sarai Management</h1>
</div>

<div class="container-fluid d-flex flex-wrap" style="margin: 0 auto">
    <!-- Aluno -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/CadastroAluno.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Gerenciamento de Alunos</h5>
            <p class="card-text">Realizar cadastro</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalAluno" style="margin: 5% auto">
            Gerenciar Alunos
        </button>
    </div>

    <!-- Caixa -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/CadastroCaixa.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Gerenciamento de Caixa</h5>
            <p class="card-text">Vizualizar caixas</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalCaixa" style="margin: 5% auto">
            Gerenciar Caixa
        </button>
    </div>

    <!-- Doação -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/CadastroDoacao.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Gerenciamento de Doações</h5>
            <p class="card-text">Descricao ---</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDoacao" style="margin: 5% auto">
            Gerenciar Doações
        </button>
    </div>

    <!-- Doadores -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/CadastroDoadores.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Gerenciamento de Doadores</h5>
            <p class="card-text">Descricao ---</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDoadores" style="margin: 5% auto">
            Gerenciar Doadores
        </button>
    </div>

    <!-- Donatario -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/CadastroDonatarios.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Gerenciamento de Donatários</h5>
            <p class="card-text">Descricao ---</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalDonatario" style="margin: 5% auto">
            Gerenciar Donatario
        </button>
    </div>

    <!-- Estoque -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/CadastroEstoque.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Gerenciamento de Estoque</h5>
            <p class="card-text">Descricao ---</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalEstoque" style="margin: 5% auto">
            Gerenciar Estoque
        </button>
    </div>


    <!-- Movimentação -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/CadastroMovimentacao.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Movimentações</h5>
            <p class="card-text">Descricao ---</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalMovimentacao" style="margin: 5% auto">
            Gerenciar Movimentaçoes
        </button>
    </div>

    <!-- Usuário -->
    <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black;">
        <img class="card-img-top" src="~/img/Usuario.png" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Usuário</h5>
            <p class="card-text">Descricao ---</p>
        </div>

        <!-- Botão para acionar modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modalUsuario" style="margin: 5% auto">
            Gerenciar Usuário
        </button>
    </div>
</div>


<!-- Modal Aluno -->
<div class="modal fade" id="modalAluno" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Aluno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Aluno" asp-action="Create" class="btn btn-primary">Cadastrar Aluno</a>
                <a asp-controller="Aluno" asp-action="List" class="btn btn-primary">Consultar Alunos</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Caixa -->
<div class="modal fade" id="modalCaixa" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Caixa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Caixa" asp-action="Create" class="btn btn-primary">Cadastrar Caixa</a>
                <a asp-controller="Caixa" asp-action="Index" class="btn btn-primary">Consultar Caixas</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Doacao -->
<div class="modal fade" id="modalDoacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Doação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Doacao" asp-action="Create" class="btn btn-primary">Realizar Doação</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Doadores -->
<div class="modal fade" id="modalDoadores" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Doadores</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Doador" asp-action="Create" class="btn btn-primary">Cadastrar Doador</a>
                <a asp-controller="Doador" asp-action="List" class="btn btn-primary">Consultar Doadores</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Donatario -->
<div class="modal fade" id="modalDonatario" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Donatario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Donatario" asp-action="Create" class="btn btn-primary">Cadastrar Donatário</a>
                <a asp-controller="Donatario" asp-action="Create" class="btn btn-primary">Consultar Donatários</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Estoque -->
<div class="modal fade" id="modalEstoque" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Estoque</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Estoque" asp-action="Create" class="btn btn-primary">Cadastrar item no Estoque</a>
                <a asp-controller="Estoque" asp-action="List" class="btn btn-primary">Consultar item no Estoque</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Movimentacao -->
<div class="modal fade" id="modalMovimentacao" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Movimentação</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Movimentacao" asp-action="Create" class="btn btn-primary">Realizar Movimentação</a>
                <a asp-controller="Movimentacao" asp-action="List" class="btn btn-primary">Consultar Movimentação</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal Usuario -->
<div class="modal fade" id="modalUsuario" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="TituloModalCentralizado">Usuário</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="margin: 0 auto">
                <a asp-controller="Usuario" asp-action="Create" class="btn btn-primary">Cadastrar Usuário</a>
                <a asp-controller="Usuario" asp-action="List" class="btn btn-primary">Consultar Usuário</a>
            </div>
        </div>
    </div>
</div>


