@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Tela Inicial";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<div>

    <div class="container-fluid d-flex flex-wrap centraliza" style="margin: 50px 0">

        <div class="" style="margin: 20px">
            <h1 class="display-4">SARAI MANAGEMENT</h1>
        </div>

        <div>
            <div class="card" style="width: 25rem;">
                <img class="card-img-top" src="~/img/Logo.jpg" alt="Imagem de capa do card">
            </div>
        </div>

    </div>

    <hr />

    <div class="container-fluid d-flex flex-wrap centraliza">

        @if (@HttpContextAccessor.HttpContext.Session.GetString("usuario_session") == null)
        {
            <a asp-controller="Usuario" asp-action="Login" class="btn btn-success btn-lg botao" role="button" aria-pressed="true">Fazer Login</a>
        }
        else
        {
            <a asp-controller="TelaInicial" asp-action="Index" class="btn btn-success btn-lg botao" role="button" aria-pressed="true">Voltar</a>
        }

        <a href="https://www.youtube.com/watch?v=kdvmMd3VCeY&list=PLVyHSBRe2K-nkfLWCU2Koh9tNC-eoPfH1&index=1" target="_blank" class="btn btn-primary btn-lg botao" role="button" aria-pressed="true">Ajuda</a>
    </div>

    <hr />

    <div class="text-center" style="margin: 20px 0; ">
        <h1 class="display-4">Sobre o Sarai Cazita</h1>
    </div>

    <div class="container-fluid d-flex flex-wrap centraliza">

        <div style="width: 80%; text-align: justify; font-size: 25px">
            <p>
                O Sarai Cazita é uma instituição que atua no auxílio educacional de crianças e adolescentes de 5 a 16 anos. O projeto funciona como uma jornada ampliada onde a criança/adolescente possa frequentar meio período em sua escola curricular e meio período na instituição Sarai. A instituição chamada de lar escola é constituída por 95 estudantes no momento, prestando atendimento com um foco maior na saúde emocional de seus integrantes.
            </p>

            <h1 style="text-align: center;">Sobre as Doações</h1>
            <p>
                O Sarai trabalha com qualquer tipo de doação, desde alimentos, roupas, móveis, contribuições monetárias a qualquer momento do ano. Recebe doações de pessoas físicas que procuram ajudar mensalmente ou não.
            </p>
            <p>
                As doações são disponibilizadas às famílias que compõem o projeto, sendo distribuída em conformidade com a situação na qual a família se encontra, ressaltando que todas as entregas são realizadas pela instituição.
            </p>

        </div>

    </div>

    <hr />

    <div class="text-center" style="margin: 20px 0;">
        <h1 class="display-4">Sobre os Desenvolvedores</h1>
    </div>

    <div class="container-fluid d-flex flex-wrap centraliza">
        <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black; height: 25%">

            <img class="card-img-top" src="~/img/CadastroAluno.png" alt="Imagem de capa do card">
            <h5 class="card-title" style="text-align: center;">Davi Nascimento</h5>

        </div>

        <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black; height: 25%">

            <img class="card-img-top" src="~/img/CadastroAluno.png" alt="Imagem de capa do card">
            <h5 class="card-title" style="text-align: center;">Eliano Cordeiro</h5>

        </div>

        <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black; height: 25%">

            <img class="card-img-top" src="~/img/CadastroAluno.png" alt="Imagem de capa do card">
            <h5 class="card-title" style="text-align: center;">João Paulo Carvalho</h5>

        </div>

        <div class="card" style="width: 18rem; margin: 10px 20px 10px 20px; border: 5px solid black; height: 25%">

            <img class="card-img-top" src="~/img/CadastroAluno.png" alt="Imagem de capa do card">
            <h5 class="card-title" style="text-align: center;">Matheus Fidelis</h5>

        </div>
    </div>
</div>
