@model SaraiManagement.Models.ViewModels.DonatarioListViewModel


<h1 style="text-align: center">Lista de Donatários</h1>
<hr />

@foreach (var p in Model.Donatarios)
{
    <div class="card card-outline-primary m-1 p-1" style="border: 5px solid black;">
        <div class="bg-faded p-1">
            <h4>
                <a asp-action="Details" asp-route-id="@p.DonatarioID"> @p.Nome </a>
                <span class="badge badge-pill badge-danger" style="float:right">@p.Telefone</span>
            </h4>
        </div>
    </div>
}

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>

<hr />
<div class="centraliza;">
    <a asp-controller="TelaInicial" asp-action="Index" class="btn btn-success botao" role="button" aria-pressed="true">Voltar </a>
    <a asp-controller="Donatario" asp-action="Create" class="btn btn-info botao">Cadastrar Novo</a>
</div>



