
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p class="text-center">
    <h5 class="font-weight-bold text-dark">Quantidade acima da disponível no estoque</h5>
    <a class="text-center btn btn-lg btn-dark" asp-action="Index" asp-controller="Estoque">OK</a>
</p>

