@model SaraiManagement.Models.Doacao

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    .hidden{display:none}
</style>

<script>
    function mostra(id) {
        if (document.getElementById(id).style.display == 'block') {
            document.getElementById(id).style.display = 'none';
        }
        else {
            document.getElementById(id).style.display = 'block';
        }
    }

</script>


<h4>Doacao</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DonatarioID" class="control-label"></label>
                <select asp-for="DonatarioID" class="form-control" asp-items="ViewBag.DonatarioID"></select>
            </div>
            <div class="form-group">
                <label asp-for="dataDoacao" class="control-label"></label>
                <input asp-for="dataDoacao" class="form-control" />
                <span asp-validation-for="dataDoacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioID" class="control-label"></label>
                <select asp-for="UsuarioID" class="form-control" asp-items="ViewBag.UsuarioID"></select>
            </div>

            <div>

                <div >
                    <a class="btn btn-primary" onclick="mostra('test')">Doaçao em Dinheiro</a>
                </div><br />
                      <div>
                          <input  type="submit" value="Doaçao de items" asp-controller="Estoque" asp-action="Index" asp-route-id="@Model.DoacaoID" class="btn btn-primary" />
                      </div>

            </div>
           
            <div id="test" class="hidden form-group" style="display:none">
                <div>
                    <label asp-for="Valor" class="control-label"></label>
                    <input asp-for="Valor" class="form-control" />
                    <span asp-validation-for="Valor" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="CaixaID" class="control-label"></label>
                    <select asp-for="CaixaID" class="form-control" asp-items="ViewBag.CaixaID"></select>
                </div>
            </div>



            <div class="form-group">
                <input type="submit" value="Doar" class="btn btn-primary" />
            </div>

                   
           

        </form>
    </div>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>


