@model SaraiManagement.Models.Estoque

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1 style="text-align: center;">Tem certeza que deseja excluir? </h1>

<hr />
<div style="padding: 0 0 0 35%;">
    <dl class="row">
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Descricao):*@
            <label class="fonte">Descrição: </label>
        </dt>
        <dd class="col-sm-10 fonte">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @*@Html.DisplayNameFor(model => model.Quantidade):*@
            <label class="fonte">Quantidade: </label>
        </dt>
        <dd class="col-sm-10 fonte">
            @Html.DisplayFor(model => model.Quantidade)
        </dd>
        <dt class="col-sm-2 fonte">
            @Html.DisplayNameFor(model => model.Categoria):
        </dt>
        <dd class="col-sm-10 fonte">
            @Html.DisplayFor(model => model.Categoria)
        </dd>
    </dl>
</div>
<hr />

<form class="centraliza" asp-action="Delete">
    <input type="hidden" asp-for="EstoqueID" />
    <input type="submit" value="Excluir" class="btn btn-danger botao" />
    <a class="btn btn-success botao" asp-action="List" asp-controller="Estoque"> Voltar</a>
</form>
